/* 返回按钮 */
.backIcon {
    width: 35px;
    height: 30px;
    float: left;
}

/* 返回按钮悬浮  */
.backIcon:hover {
    background-color: white;
    border-top-left-radius: 10px;
    z-index: 99;
}

/* 返回按钮图标 */
#backImg {
    margin-left: 10px;
    margin-top: 7px;
}

/* 项目内容 */
.projectContent {
    width: 100%;
    height: 100%;
    /* background-color: wheat; */
    border-radius: 10px;
    z-index: 999;
    overflow: hidden;
}

/* 加载遮罩 */
.loadMock {
    width: 98%;
    height: 98%;
    position: fixed;
    background-color: white;
    z-index: 9;
    background: url('../img/bg-01.jpg');
    border-radius: 10px;
    display: none;
}

.projectCards {
    width: 90%;
    height: 93%;
    position: fixed;
    /* background-color: green; */
    margin-top: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}

/* 隐藏盒子的滚动条 */
.projectCards::-webkit-scrollbar {
    display: none;
}

.projectInfo {
    width: 48%;
    height: 200px;
    background-color: white;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

.card {
    width: 48%;
    /* height: 100px; */
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    float: left;
    margin-left: 1%;
    margin-top: 1%;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    transition: all 500ms;
    box-shadow: 0 2px 8px rgba(14, 21, 47, 0.25);
    /* opacity: 0.8; */
}

.card:hover {
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.5);
    transform: scale(1.03, 1.03);
}

.card:hover .title>.copyCard {
    display: inline;
    transform: all 500ms;
}

/* 卡片标题 */
.title {
    width: 100%;
    height: 25px;
    font-size: 14px;
}

.titleInput {
    width: 86%;
    height: 25px;
    font-size: 14px;
    text-align: left;
    background: transparent;
    border: none;
}

.titleInput:focus {
    outline: none;
    cursor: text;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
    text-indent: 3px;
    border-radius: 5px;
}

.copyCard {
    background: url('../img//icon/复制.png');
    background-size: cover;
    float: right;
    width: 20px;
    height: 20px;
    opacity: 0.6;
    transform: all 500ms;
    display: none;
}

.copyCard:hover {
    opacity: 1;
    cursor: pointer;
}

/* 配置项的第一条往下面一点 */
.title+div {
    margin-top: 5px;
}

/* 记录项 */
.dataBox {
    width: 100%;
    height: 30px;
}

.nameBox {
    float: left;
    width: 80px;
    height: 25px;
}

.dataName {
    height: 25px;
    width: 75px;
    font-size: 14px;
    border: none;
    background-color: transparent;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 100%;
    border-radius: 5px;

}

.dataName:focus {
    outline: none;
    cursor: text;
    background-color: rgba(255, 255, 255, 0.5);
    text-indent: 3px;
}

.valueBox {
    float: left;
    min-width: 200px;
    height: 25px;
    font-family: SanJiNengLiang;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.valueBox:hover .copyCard {
    display: block;
}

/* 值的input */
.valueInput {
    /* display: block; */
    /* margin: 0 auto; */
    width: 85%;
    background: transparent;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 5px;

}

/* 值的input悬浮 */
.valueInput:hover {
    cursor: text;
}

/* 值的input焦点 */
.valueInput:focus {
    outline: none;
    cursor: text;
}

.valueBox>.copyCard {
    margin-top: 5px;
    width: 15px;
    height: 15px;
    margin-right: 2px;
}



/* 右边工具 */
.rightPanel {
    height: 90%;
    width: 8%;
    margin-right: 1%;
    background-color: rgba(255, 255, 255, 0.5);
    float: right;
    border-radius: 10px;
    margin-top: 6%;
    box-shadow: 0 2px 8px rgba(14, 21, 47, 0.25);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}
.rightPanel >.toolbar{
    background-color: rgba(255, 255, 255, 0.5);
    width: 50px;
    height: 50px;
    background-size: contain;
    border-radius: 25px;
    box-shadow: 1px 1px 10px rgba(14, 21, 47, 0.25);
    transform: all 500ms;
}
.rightPanel >.toolbar:hover{
    transform: scale(1.2,1.2);
    cursor: pointer;
}
.toolbarIcon{
    width: 100%;
    opacity: 0.7;
}
/* 文字提示小弹窗 */
.pop{
    width: 160px;
    height: 30px;
    border-radius: 10px;
    position: fixed;
    bottom: 2%;
    left: 40%;
    background-color: white;
    display: none;
    opacity: 0;
}
.pop > .popText{
    width: 80%;
    font-size: 14px;
    float: left;
    line-height: 30px;
}
.pop > .popImg{
   width: 20%;
   height: 100%;
   /* background-color: red; */
   float: left;
}