/* 字体 */
@font-face {
    font-family: SanJiNengLiang;
    src: url('../font/SanJiNengLiangHeiJianTi-2.ttf');
}

/* 标题栏 */
.titleBar {
    width: 98%;
    height: 30px;
    background-color: #f3f3f3;
    position: fixed;
    z-index: 9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 0.5;
    user-select: none;
}

/* 标题文本 */
.titleText {
    font-size: 14px;
    width: 80%;
    height: 30px;
    margin: 0px auto;
    text-align: center;
    line-height: 30px;
    -webkit-app-region: drag;
    user-select: none;
}

/* 关闭div */
.closeIcon {
    width: 30px;
    height: 30px;
    float: right;
    margin-top: -30px;
    /* background-color: white; */

}

/* 关闭hover */
.closeIcon:hover {
    background-color: white;
    border-top-right-radius: 10px;
    z-index: 99;
}

/* 最小化图标 */
.minimizeIcon {
    width: 30px;
    height: 30px;
    float: right;
    margin-top: -30px;
    margin-right: 30px;
}

/* 最小化div悬浮 */
.minimizeIcon:hover {
    background-color: white;
    border-top-right-radius: 10px;
    z-index: 99;
}

/* 关闭图标 */
#closeImg {
    margin-top: 7px;
    margin-left: 7px;
}

/* 设置 */
.setting {
    margin-right: 60px;
}

.setting:hover {
    background-color: white;
    border-top-right-radius: 10px;
    z-index: 99;
}

/* 总盒子 */
#box {
    width: 98%;
    height: 98%;
    margin: 0 auto;
    box-shadow: 1px 1px 10px grey;
    background: url('../img/bg-01.jpg');
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    /* position: fixed; */
}

/* 隐藏盒子的滚动条 */
#box::-webkit-scrollbar {
    display: none;
}

/* 项目列表盒子 */
.projectBox {
    width: 100%;
    height: 100%;
    margin-left: 5%;
    margin-top: 5%;
}

/* 卡片数据层 */
.cardInfo {
    height: 100%;
    /* background-color: white; */
    /* opacity: 0.5; */
    width: 100%;
    position: fixed;
    border-radius: 10px;
    left: 0;
    top: 0;
}

/* 项目logo */
.projectLogo {
    /* border: 1px solid red; */
    width: 90px;
    height: 90px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 45px;
    background-size: 90px;
    float: left;
    box-shadow: 0 2px 8px rgba(14, 21, 47, 0.25);
    transition: all 500ms;
    background-size: cover !important;
}

/* logo悬浮 */
.projectLogo:hover {
    width: 100px;
    height: 100px;
    transition: all 500ms;
    transform: rotateZ(360deg);
    cursor: pointer;
}

/* 项目名字div */
.projectName {
    width: 150px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    float: left;
    margin-top: 25px;
    margin-left: 25px;
    border-radius: 5px;
}

/* 项目名字和时间的input */
.projectNameText {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 5px;
    text-align: center;
    line-height: 100%;
    border: none;
    font-size: 15px;
    font-family: SanJiNengLiang;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.projectNameText {
    outline: none;
}

.projectInfoInput {
    display: block;
    margin: 0 auto;
    width: 85%;
}

.projectInfoInput::-webkit-input-placeholder {
    font-size: 13px;
}

/* 项目名字和时间的input悬浮 */
.projectNameText:hover {
    cursor: text;
}

/* 项目时间dv */
.projectTime {
    width: 150px;
    height: 30px;
    float: left;
    margin-top: 20px;
    margin-left: 25px;
    font-family: SanJiNengLiang;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}


/* 下一步按钮 */
.next {
    width: 50px;
    height: 50px;
    float: right;
    margin-right: 35px;
    margin-top: 20px;
    border-radius: 25px;
    background: url('../img/icon/下一步.png');
    background-size: cover;
    cursor: pointer;
    transition: all 500ms;
    box-shadow: 0 2px 10px rgba(245, 8, 59, 0.25);
}

/* 下一步按钮悬浮 */
.next:hover {
    width: 60px;
    height: 60px;
    box-shadow: 0 2px 8px rgba(10, 10, 10, 0.25);
    transform: rotate(360deg);
}

.next:active {
    /* transition: width 1s, height 1s; */
    transform: scale(2, 2);
}

/* 添加按钮 */
.addIcon {
    width: 35px;
    height: 30px;
    float: left;
}

/* 添加按钮悬浮  */
.addIcon:hover {
    background-color: white;
    border-top-left-radius: 10px;
    z-index: 99;
}

/* 添加按钮图标 */
#addImg {
    margin-left: 10px;
    margin-top: 7px;
}

/* 阴影遮罩 */
.shadowMock {
    width: 98%;
    height: 98%;
    background-color: black;
    position: fixed;
    left: 8px;
    top: 0;
    opacity: 0.4;
    border-radius: 10px;
    display: none;
}

/* 添加窗口 */
.addForm {
    height: 250px;
    width: 320px;
    background-color: #f3f3f3;
    position: fixed;
    left: 30%;
    top: 30%;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(14, 21, 47, 0.25);
    display: none;
    user-select: none;
    transition: all 500ms;
}

.addForm:hover {
    transform: scale(1.1, 1.1);
}

.addFormTitlebar {
    width: 100%;
    height: 30px;
    /* background-color: red; */
    border-radius: 10px;
}

#addFormCloseImg {
    width: 15px;
    margin-top: 8px;
    margin-left: 41%;
    border-radius: 7.5px;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 500ms;
}

#addFormCloseImg:hover {
    box-shadow: 0 2px 8px rgba(14, 21, 47, 0.25);
    cursor: pointer;
    transform: scale(1.3, 1.3);
    transition: all 500ms;
}

.addFormProjectName {
    margin-top: 5px;
}

.addFormTileText {
    width: 50%;
    font-size: 14px;
    text-indent: 10px;
    line-height: 30px;
    float: left;
}

.chooseLogoText {
    font-size: 13px;
    line-height: 90px;
    text-align: center;
    border-radius: 45px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 510ms;
}

.chooseLogoText:hover {
    width: 100px;
    height: 100px;
    /* background-color: rgba(19, 19, 19, 0.5); */
}

.textBox {
    transition: all 500ms;
}

.textBox:hover {
    transform: scale(1.03, 1.03);
}

/* 文字提示小弹窗 */
.pop {
    width: 160px;
    height: 30px;
    border-radius: 10px;
    position: fixed;
    bottom: 2%;
    left: 40%;
    background-color: white;
    display: none;
    opacity: 0;
    z-index: 999999;
}

.pop>.popText {
    width: 80%;
    font-size: 14px;
    float: left;
    line-height: 30px;
}

.pop>.popImg {
    width: 20%;
    height: 100%;
    /* background-color: red; */
    float: left;
}

/* 确认框 */
.confirmForm {
    height: 170px;
    width: 320px;
    /* background-color: #f3f3f3; */
    border-radius: 10px;
    position: fixed;
    left: 30%;
    top: 30%;
    box-shadow: 0 2px 8px rgba(14, 21, 47, 0.7) !important;
    display: none;
    transition: all 500ms;
}

.confirmForm:hover {
    transform: scale(1.1, 1.1);
    transition: all 500ms;
}

.confirmTitleBox {
    width: 100%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
}

.confirmContentBox {
    width: 90%;
    height: 80px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    margin: 0px auto;
    margin-top: 10px;
}

.confirmButtonBox {
    width: 100%;
    height: 40px;
    font-size: 15px;
    text-align: center;
    line-height: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.confirmButton {
    margin-right: 50px !important;
    text-indent: -10px !important;
}

/* 删除项目图标 */
.buttonCom {
    width: 25%;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    float: right;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(100, 100, 100, 0.7);
    text-indent: 2px;
    transition: all 500ms;
    font-size: 13px;
    line-height: 25px;
    margin-right: 20px;
}

.buttonCom>img {
    margin-left: 5px;
    margin-top: 5px;
    float: left;
}

#delData:hover {
    cursor: pointer;
}

.buttonCom:hover {
    transform: scale(1.1, 1.1);
    transition: all 500ms;
    cursor: pointer;
}

.delProjectBox {
    user-select: none;
    width: 15px;
    height: 15px;
    float: right;
    margin-right: 5px;
    margin-top: 5px;
    transition: all 500ms;
    border-radius: 7.5px;
    display: none;
}

.delProjectBox:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
    transition: all 500ms;
    background-color: rgba(255, 255, 255, 0.5);
}

.cardInfo:hover .delProjectBox {
    display: block;
    transition: all 500ms;
}

/* 排序号 */
.projectSortBox {
    width: 100%;
    height: 30px;
    position: fixed;
    left: 2px;
    bottom: 2px;
    line-height: 30px;
    text-indent: 5px;
    font-weight: bolder;
    font-size: 13px;
    font-style: italic;
    opacity: 0.8;

}

.projectSortBox>span {
    background: linear-gradient(135deg, rgba(255,117,195,1),rgba(255,166,71,1),rgba(255,232,63,1),rgba(159,255,91,1),rgba(112,226,255,1),rgba(205,147,255,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projectSortInput {
    width: 50%;
    height: 80%;
    background: transparent;
    border: none;
    font-size: 13px;
    font-weight:700;
    font-style: italic;
    background: linear-gradient(135deg, rgba(255,117,195,1),rgba(255,166,71,1),rgba(255,232,63,1),rgba(159,255,91,1),rgba(112,226,255,1),rgba(205,147,255,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projectSortInput:focus {
    outline: none;
}

.updateBar{
    position: fixed;
    bottom: 2%;
    left: 33%;
    width: 300px;
    height: 15px;
    background: linear-gradient(135deg, rgba(112, 225, 245, 0.5), rgba(255, 209, 148, 0.5));
    overflow: hidden;
    border-radius: 5px;
    display: none;
    
}
.updateBar >div{
    float: left;
    font-size: 10px;
    border-radius: 5px;
    line-height: 15px;
}
.updateBar >div:nth-child(3){
    float: right;
    margin-right: 5px;
}
.updateBar >div:nth-child(1){
    margin-left: 5px;
}
.updateBar >div:nth-child(2){
    background: linear-gradient(135deg, rgba(240, 152, 25, 0.5), rgba(237, 222, 93, 0.5));
    margin-top: 5px;
    width: 50%;
    height: 8px;
    margin-left: 5px;
}
.updateBar >div:nth-child(2) >div{
    background: linear-gradient(135deg, rgba(26, 42, 108, 0.5), rgba(178, 31, 31, 0.5), rgba(253, 187, 45, 0.5));
    height: 8px;
    width: 0%;
    font-size: 0px;
    border-radius: 5px;
}













body {
    width: 800px;
    height: 600px;
    overflow: hidden;
    font-family: SanJiNengLiang;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    transition: all 500;
}

.cover {
    display: inline-block;
    height: 200px;
    width: 320px;
    margin: 15px;
    /* cursor: pointer; */
    border-radius: 8px;
    transition: all 500;
}

@media screen and (max-width: 700px) {
    .container {
        width: 100%;
        position: relative;
        transform: translate(0%, 0%);
        top: 0;
        left: 0;
        transition: all 500;
    }

    .cover {
        display: block;
        height: 200px;
        width: 320px;
        margin: 15px auto;
        transition: all 500;
    }
}

.atvImg {
    border-radius: 8px;
    transform-style: preserve-3d;
    -webkit-tap-highlight-color: rgba(#000, 0);
    transition: all 500;
}

.atvImg img {
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(14, 21, 47, 0.25);
    transition: all 500;
}

.atvImg-container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: all 0.2s ease-out;
}

.atvImg-container.over .atvImg-shadow {
    box-shadow: 0 45px 100px rgba(14, 21, 47, 0.4), 0 16px 40px rgba(14, 21, 47, 0.4);
}

.atvImg-layers {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    transform-style: preserve-3d;
    transition: all 500;
}

.atvImg-rendered-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: cover;
    transition: all 0.1s ease-out;
    overflow: hidden;
    border-radius: 8px;
}

.atvImg-shadow {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    transition: all 0.2s ease-out;
    box-shadow: 0 8px 30px rgba(14, 21, 47, 0.6);
}

.atvImg-shine {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    background: linear-gradient(135deg, rgba(255, 255, 255, .25) 0%, rgba(255, 255, 255, 0) 60%);
}