<!DOCTYPE html>
<html>

<head>
  <title>项目</title>
  <script src="../js/color.js"></script>
  <script src="../js/vue.js"></script>
  <link rel="stylesheet" href="../css/style.css" />
  <link rel="stylesheet" href="../css/project.css" />
</head>

<body>
  <div id="box">
    <!-- 标题栏 -->
    <div id="titleBar" class="titleBar">
      <div class="backIcon" v-on:click="backIndex">
        <img id="backImg" src="../img/icon/返回.png" width="16px" alt="">
      </div>
      <div class="titleText">{{title}}</div>
      <div class="closeIcon" v-on:click="close">
        <img id="closeImg" src="../img/icon/关闭.png" width="16px" alt="">
      </div>
      <div class="minimizeIcon" v-on:click="minimize">
        <img id="closeImg" src="../img/icon/最小化.png" width="16px" alt="">
      </div>
    </div>
    <div class="projectContent">
      <div class="loadMock">
        <div class="catBox">
        </div>
      </div>

      <div class="projectCards">

        <div class="card projectInfo">
          <div class="projectLogo" title="logo" style="background: url('../img/头像.jpg');background-size: cover;"></div>
          <div class="projectName" title="项目名字"><input class="projectNameText" type="text" :value="project.projectName"
              disabled /></div>
          <div class="projectTime" title="项目开始时间"><input class="projectNameText" type="text"
              :value="project.projectTime" disabled /></div>
        </div>
        <div class="card" v-for="(item,index) in card" :key="index">
          <!-- 卡片标题栏目 -->
          <div class="title">
            <input class="titleInput" type="text" :value="item.title">
            <div v-on:click="copyCard" class="copyCard" title="复制卡片信息"></div>
          </div>
          <!-- 记录项 -->
          <div class="dataBox" v-for="(elem,index) in item.data" :key="index">
            <div class="nameBox">
              <input class="dataName" type="text" :value="elem.name">
            </div>
            <div class="valueBox">
              <input class="projectNameText valueInput" type="text" :value="elem.value">
              <div class="copyCard" title="复制值"></div>
            </div>
          </div>
        </div>
        <!-- <waterfall class="projectCards" :line-gap="200" :watch="items">
          <waterfall-slot class="card" style="display: inline-block;" v-for="(item, index) in card" :width="item.width"
            ::height="item.hight" :order="index" :key="index">
            <div class="title">{{item.title}}</div>
            <div class="dataBox" v-for="(elem,index) in item.data" :key="index">
              <div class="nameBox">
                <input class="dataName" type="text" :value="elem.name">
              </div>
              <div class="valueBox">
                <input class="projectNameText" type="text" :value="elem.value">
              </div>
            </div>
          </waterfall-slot>
          </waterfall-slot>
        </waterfall> -->

      </div>
      <div class="rightPanel" v-on:click="changeCardColor"> </div>
    </div>

  </div>
  <script src="../js/project.js"></script>
  <script src="../js/jquery.js"></script>
</body>

</html>