<!DOCTYPE html>
<html>

<head>
  <title>项目</title>
  <script src="../js/color.js"></script>
  <script src="../js/vue.js"></script>
  <link rel="stylesheet" href="../css/style.css" />
  <link rel="stylesheet" href="../css/project.css" />
</head>

<body>
  <div id="box">
    <!-- 标题栏 -->
    <div id="titleBar" class="titleBar">
      <div class="backIcon" v-on:click="backIndex" title="返回首页">
        <img id="backImg" src="../img/icon/返回.png" width="16px" alt="">
      </div>
      <div class="titleText">{{title}}</div>
      <div class="closeIcon" v-on:click="close" title="关闭">
        <img id="closeImg" src="../img/icon/关闭.png" width="16px" alt="">
      </div>
      <div class="minimizeIcon" v-on:click="minimize" title="最小化">
        <img id="closeImg" src="../img/icon/最小化.png" width="16px" alt="">
      </div>
      <div class="minimizeIcon setting" v-on:click="" title="应用设置">
        <img id="closeImg" src="../img/icon/set-up.png" width="16px" alt="">
      </div>
    </div>
    <div class="projectContent">
      <div class="loadMock">
        <div class="catBox">
        </div>
      </div>

      <div class="projectCards">

        <div class="card projectInfo">
          <div class="projectLogo" title="logo" :style="{background: 'url('+project.projectLogo+')'}"></div>
          <div class="projectName" title="项目名字">
            <input spellcheck="false" class="projectNameText projectInfoInput" type="text"
              v-model="project.projectName" />
          </div>
          <div class="projectTime" title="项目开始时间">
            <input spellcheck="false" class="projectNameText projectInfoInput" type="text"
              v-model="project.projectTime" />
          </div>
        </div>
        <div class="card" v-for="(item,index) in card" :key="index">
          <!-- 卡片标题栏目 -->
          <div class="title">
            <input spellcheck="false" class="titleInput" type="text" v-model="item.title">
            <div v-on:click="copyCard(item)" class="copyCard" title="复制卡片信息"></div>
          </div>
          <!-- 记录项 -->
          <div class="dataBox textBox" v-for="(elem,index) in item.data" :key="index">
            <div class="nameBox">
              <input spellcheck="false" class="dataName" type="text" v-model="elem.name">
            </div>
            <div class="valueBox textBox">
              <input spellcheck="false" class="projectNameText valueInput" type="text" v-model="elem.value">
              <div v-on:click="copyStr(elem.value)" class="copyCard" title="复制值"></div>
            </div>
          </div>
        </div>

      </div>
      <div class="rightPanel">
        <div title="换套颜色" class="toolbar" v-on:click="changeCardColor">
          <img class="toolbarIcon" src="../img/icon/刷新2.png" alt="">
        </div>
        <div title="添加卡片" class="toolbar" v-on:click="openAddForm">
          <img class="toolbarIcon" src="../img/icon/新增.png" alt="">
        </div>
        <div title="全局编辑" class="toolbar">
          <img class="toolbarIcon" src="../img/icon/编辑.png" alt="">
        </div>
        <div title="打开项目文件夹" class="toolbar">
          <img class="toolbarIcon" src="../img/icon/文件夹.png" alt="">
        </div>
        <div title="导出项目信息" class="toolbar">
          <img class="toolbarIcon" src="../img/icon/导出.png" alt="">
        </div>
        <div title="帮助" class="toolbar">
          <img class="toolbarIcon" src="../img/icon/帮助.png" alt="">
        </div>
      </div>
    </div>
    <!-- 提示弹窗 -->
    <div class="pop">
      <div class="popImg"><img width="30px" src="../img/icon/ok.png" alt=""></div>
      <div class="popText">已经复制到剪切板</div>
    </div>
    <!-- 阴影遮罩 -->
    <div class="shadowMock"></div>
  </div>
  <script src="../js/project.js"></script>
  <script src="../js/jquery.js"></script>
</body>

</html>