<!DOCTYPE html>
<html>

<head>
  <title>首页</title>
  <script src="./js/vue.js"></script>
  <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
  <div id="box">
    <!-- 标题栏 -->
    <div id="titleBar" class="titleBar">
      <div class="addIcon" v-on:click="openAddForm" title="添加卡片">
        <img id="addImg" src="./img/icon/添加.png" width="16px" alt="">
      </div>
      <div class="titleText">{{title}}</div>
      <div class="closeIcon" v-on:click="close" title="关闭">
        <img id="closeImg" src="./img/icon/关闭.png" width="16px" alt="">
      </div>
      <div class="minimizeIcon" v-on:click="minimize" title="最小化">
        <img id="closeImg" src="./img/icon/最小化.png" width="16px" alt="">
      </div>
      <div class="minimizeIcon setting" title="应用设置">
        <!-- <div class="minimizeIcon setting" v-on:click="openSettingForm" title="应用设置"> -->
        <img id="closeImg" src="./img/icon/set-up.png" width="16px" alt="">
      </div>
    </div>

    <div class="projectBox">

      <div v-for="(project,index) in projects" class="cover atvImg">
        <div class="atvImg-layer" data-img="./img/visa-bg.jpg"></div>
        <div class="cardInfo">
          <div class="projectLogo pLogo" :index="index" title="logo"
            style="background: url('./img/头像.jpg');background-size: cover;"></div>
          <div class="projectName textBox" title="项目名字">
            <input spellcheck="false" class="projectNameText projectInfoInput" type="text"
              v-model="project.projectName" />
          </div>
          <div class="projectTime textBox" title="项目开始时间">
            <input spellcheck="false" class="projectNameText projectInfoInput" type="text"
              v-model="project.projectTime" />
          </div>
          <div class="next" v-on:click="openProject(project.id)" title="打开项目"></div>
        </div>
      </div>

    </div>
    <!-- 阴影遮罩 -->
    <div class="shadowMock"></div>
    <!-- 添加窗口 -->
    <div class="addForm">
      <div class="addFormTitlebar" v-on:click="closeAddForm" title="关闭窗口">
        <div class="addFormTileText">添加卡片</div>
        <img id="addFormCloseImg" src="./img/icon/关闭.png" alt="">
      </div>
      <div id="addFormLogo" v-on:click="selectImage" class="projectLogo addFormLogo" title="logo"
        style="background: url('./img/头像.jpg');background-size: cover;">
        <div class="chooseLogoText">点击选择Logo</div>
      </div>
      <div class="projectName addFormProjectName textBox" title="项目名字">
        <input spellcheck="false" class="projectNameText projectInfoInput" v-model="addFrom.projectName" type="text"
          placeholder="项目名字" />
      </div>
      <div class="projectTime textBox" title="项目开始时间">
        <input spellcheck="false" class="projectNameText projectInfoInput" v-model="addFrom.projectTime" type="text"
          placeholder="项目开始时间" />
      </div>
      <div class="projectTime textBox" title="排序号">
        <input spellcheck="false" class="projectNameText projectInfoInput" v-model="addFrom.sort" type="text"
          placeholder="排序号" />
      </div>
      <div class="next saveProjectImg" v-on:click="addProject()" title="打开项目"></div>
    </div>
    <!-- 提示弹窗 -->
    <div class="pop">
      <div class="popImg"><img width="30px" src="./img/icon/ok.png" alt=""></div>
      <div class="popText">已经复制到剪切板</div>
    </div>
  </div>
  <script src="./js/dom.js"></script>
  <script src="./js/data.js"></script>
  <script src="./js/color.js"></script>
</body>

</html>
<!-- <div class="atvImg-layer" data-img="http://robindelaporte.fr/codepen/visa.png"></div> -->